@import "tailwindcss";

@import "./components/Spinner/Spinner.css";
@import "./components/Alerts/Alerts.css";

@theme {
    --color-radical: #6CACE4;
    --color-kanji: #991111;
    --color-vocab: #663399;
}
